* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(2, 23, 35);
}
.container {
  margin: 0.5%;
}
.imgLesbos {
  height: 35vh;
  width: 100%;
  background-color: rgb(247, 247, 179);
  background-image: url(images/house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.heading {
  background-color: rgb(2, 23, 35);
  height: 4rem;
  width: 100%;
  color: rgb(247, 247, 179);
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  font-size: 2.5rem;
  padding-bottom: 0.75rem;
}
.text {
  padding: 0 5%;
  color: rgb(247, 247, 179);
  font-size: 1.5rem;
  text-align: center;
}
.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.card {
  background-image: url(images/door.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-blend-mode: lighten;
  font-size: 1.1rem;
  padding: 7.5%;
  color: transparent;
  font-weight: bold;
  transition: all 2s;
  animation: moveTextIn 3s linear forwards;
  animation-delay: 3s;
  text-align: center;
}
@keyframes moveTextIn {
  from {
    background-color: transparent;
    color: transparent;
  }
  to {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
  }
}
.btns {
  margin-top: 1%;
  margin-bottom: 2%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn {
  border: 2px solid rgb(247, 247, 179);
  background: none;
  color: rgb(247, 247, 179);
  padding: 15px 30px;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  position: relative;
  color: rgb(247, 247, 179);
  overflow: hidden;
}

.btn:hover {
  color: rgb(2, 23, 35);
}

.btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(247, 247, 179);
  z-index: -1;
  border-radius: 50% 50% 0% 0%;
  height: 0%;
  transition: all 0.5s;
}

.btn:hover:before {
  height: 190%;
}
iframe {
  display: flex;
  margin: 2.5% auto;
}
